:root {
  --orange: #f46b45;
  --black: #272727;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;

}
*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0 0 5px 0;
}

body {
  background-image: linear-gradient(#304352, #d7d2cc);
  min-height: calc(100vh - 50px);
  position: relative;
  margin: 20px;
  border: 1px solid red;
  color: white;
  font-family: -apple-system, BlinkMacSystemFont, Roboto, Helvetica, Arial;
}

